.body {
    display: flex;
    flex-direction: column;
}

.header {
    text-align: center;
}

.main {
    display: flex;
    justify-content: space-evenly;
}

.grids {
    border: 2px solid black;
}

