body {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
}

.header {
    text-align: center;
}

.main {
    display: flex;
    justify-content: center;
}

.grids {
    border: 2px solid black;
}

.controls {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    background-color: antiquewhite;
    color: black;
    text-align: center;
    justify-content: center;
    align-items: center;
    

}

button {

    background-color: aquamarine;
    border-radius: 8px;

}

.footer {
    text-align: center;
}
